<div class="navbar-container">
  <div class="navbar-left"></div>

  <div class="navbar-center">
    <div class="navbar-title">Reliable Rollers</div>
    <div class="navbar-menu">
      <button routerLink="/dashboard">Dashboard</button>
      <button routerLink="/customers">Customers</button>
      <button routerLink="/service-schedules">Service Schedules</button>
      <button routerLink="/service-logs">Service Logs</button>
      <button *ngIf="isAdmin" routerLink="/employees">Employees</button>
    </div>
  </div>

  <div class="navbar-right">
    <button class="navbar-logout" (click)="logout()">Logout</button>
  </div>
</div>


