<div class="ss-list">
  <h2>Service Logs</h2>

  <input type="text" [(ngModel)]="searchTerm" (input)="searchLogs()" placeholder="Search logs..." class="search-bar"/>

  <table class="ss-table">
    <thead>
    <tr>
      <th>Customer</th>
      <th>Address</th>
      <th>Service Date</th>
      <th>Action</th>
      <th>Notes</th>
      <th>Employee</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let log of filteredLogs">
      <td>{{ log.customerName }}</td>
      <td>{{ log.customerAddress }}</td>
      <td>{{ log.serviceDate | date }}</td>
      <td>{{ log.action }}</td>
      <td>{{ log.notes }}</td>
      <td>{{ log.employeeName }}</td>
      <button *ngIf="isAdmin" class="edit-btn" (click)="editServiceLog(log.id)">Edit</button>
      <button *ngIf="isAdmin" class="delete-btn" (click)="deleteServiceLog(log.id)">Delete</button>
    </tr>
    </tbody>
  </table>
</div>

